<div class="container">
    <div class="btn-group-vertical">
        <a asp-action="Index">Obter Todos</a>
        <a asp-action="ObterPorId">Buscar por Id</a>
        <a asp-action="ObterPorTitulo">Buscar por Titulo</a>
        <a asp-action="ObterPorData">Buscar por Data</a>
        <a asp-action="ObterPorStatus">Buscar por Status</a>
    </div>
</div>